body {
    font-family: sans-serif;
}

main, footer {
    text-align: center;
}

h1 {
    margin-bottom: 1.5rem;
}

footer {
    padding: 1rem;
}

div.images {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

div.images > img {
    border-radius: 0.5rem;
    box-shadow: 0 0 0.25rem darkblue;
    transition: transform 0.5s ease;
}

div.images > img:hover {
    transform: scale(1.05)
}
